<h1>Canviar password</h1>
<app-get-students></app-get-students>



<mat-form-field appearance="standard">
    <mat-label>Password actual: </mat-label><input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password"  >
</mat-form-field>
<mat-form-field appearance="standard">
    <mat-label>Nou password: </mat-label><input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newPassword"  >
</mat-form-field>
<mat-form-field appearance="standard">
    <mat-label>Repeteixi el nou password: </mat-label><input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newPassword"  >
</mat-form-field>
<button mat-raised-button color="primary" (click)="canviar()">Aceptar</button>

        
