<h1>Canviar password</h1>
<div *ngIf="isTeacher">
    <app-get-students></app-get-students>

    <mat-form-field appearance="standard">
        <mat-label>Nou password: </mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newPassword"  >
    </mat-form-field>
    <label *ngIf="passwordNoComplexity">El password no compleix amb els criteris de complexitat</label>
    <mat-form-field appearance="standard">
        <mat-label>Repeteixi el nou password: </mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newPassword"  >
    </mat-form-field>
    <label *ngIf="passwordNOK">Els passwords no coincideixen</label>
    <button mat-raised-button color="primary" (click)="canviarAdmin()">Aceptar</button>
</div>

<h1>{{ currentUser?.nom }}</h1>
<mat-form-field appearance="standard">
    <mat-label>Password actual: </mat-label><input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password"  >
</mat-form-field>
<p *ngIf="passwordIncorrect">El password no és vàlid</p>
<mat-form-field appearance="standard">
    <mat-label>Nou password: </mat-label><input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newPasswordPropi"  >
</mat-form-field>
<mat-form-field appearance="standard">
    <mat-label>Repeteixi el nou password: </mat-label><input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newPasswordPropi"  >
</mat-form-field>
<button mat-raised-button color="primary" (click)="canviar()">Aceptar</button>