

<mat-form-field appearance="fill">
    <mat-label>Alumnes</mat-label>
    <mat-select [compareWith]="studentDisplay" (selectionChange)="studentChange($event)" [(ngModel)]="currentStudent">
        <mat-option  *ngFor="let student of students" [value]="student" >
            {{student.nom}}
        </mat-option>
    </mat-select>
</mat-form-field><mat-label *ngIf="!selCurs">Curs: {{currentCurs}}</mat-label><br/>

<mat-form-field appearance="fill" *ngIf="selCurs">
    <mat-label>Cursos</mat-label>
    <mat-select (selectionChange)="courseChange($event)">
        <mat-option  *ngFor="let curs of cursos" [value]="curs" >
            {{curs}}
        </mat-option>
    </mat-select>
</mat-form-field>


<table *ngFor="let capacitatClau of rubrica?.capacitatsClau; let iCapClau">
    <tr >
        <td>{{capacitatClau.nom}}</td>
        <td *ngFor="let valoracio of capacitatClau.valoracio; let iVal = index" (click)="seleccionadaCapacitatClau($event,iCapClau,iVal)">
            <span *ngIf="valoracio.seleccionada">X</span>
            {{valoracio.nom}} <br/>{{valoracio.notaMinima}} - {{valoracio.notaMaxima}}  
        </td>
        <td><mat-label>Nota assignada</mat-label></td>
        <td><input [(ngModel)]="capacitatClau.nota"></td>
    </tr>
</table>

