<div>
    <mat-form-field appearance="standard">
        <mat-label>Usuari</mat-label>
        <input matInput placeholder="Usuari" 
            [(ngModel)]="usuari">
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" >
        
            <button mat-icon-button matSuffix (click)="hide = !hide" 
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">

            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
</div>
<div>
    <button mat-raised-button color="primary" (click)="autentificar()">Aceptar</button>
    <button mat-raised-button color="primary" (click)="verificarToken()">Test</button>
</div>
<router-outlet>
    <a routerLink="/home" routerLinkActive="active">Home</a>
</router-outlet>