<mat-form-field appearance="fill" *ngIf="selCurs">
    <mat-label>Cursos</mat-label>
    <mat-select (selectionChange)="courseChange($event)">
        <mat-option  *ngFor="let curs of cursos" [value]="curs" >
            {{curs}}
        </mat-option>
    </mat-select>
</mat-form-field>

<h1>{{this.currentStudent.nom}}</h1>
<table *ngFor="let capacitatClau of rubrica?.capacitatsClau; let iCapClau">
    <tr><td>{{capacitatClau.nom}}</td></tr>
    <tr *ngFor="let valoracio of capacitatClau.valoracio ">
        <td *ngIf="valoracio.seleccionada">
            {{valoracio.nom}} Nota:{{capacitatClau.nota}}
        </td>
    </tr>
</table>


